.btn-cont{
    position: absolute;
    top: var(--pad);
    right: var(--pad);
    z-index: 99;
}
.btn{
    width: 44px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    }
    .btn-badge{
        position: absolute;
        top: -6px;
        right: -6px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: red;
        color: white;
        font-size: var(--font-xs);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }