.listCont{
    overflow: auto;
}
.listItem{
    background-color: var(--white);
    align-items: center;
    padding: 10px;
    border-radius: var(--rad);
    flex: 1;
    justify-content: space-between;
}
.meta{
    gap: 5px;
}
.name{
    font-size: var(--font-m);
    color: var(--text-rg);
}
.dist{
    font-size: var(--font-xs);
    color: var(--text);
}
.deets{
    gap: 10px;
}
.status{
    border-radius: 10px;
    font-size: var(--font-m);
    padding: 3px;
    font-weight: bold;
}
.company{
    font-size: var(--font-m);
    color: var(--text);
    text-align: center;
}
.itemControl{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: var(--font-max);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.actionBtn{
    padding-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
}