:root {
  --text: #757575;
  --text-h: #1a1a1a;
  --text-rg: #373737;
  --bg: #eeeeee;
  --bg-alt: #d6d6d6;
  --border: 2px solid #d6d6d6;
  --orange: #b34e30;
  --orange-hv: #984025;
  --white: #ffffff;
  --add: #2e7d32;
  --remove: #e65100;

  --font-max: 22px;
  --font-xl: 18px;
  --font-l: 16px;
  --font-m: 14px;
  --font-s: 12px;
  --font-xs: 10px;

  --rad: 10px;
}

/* index.html */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.mapboxgl-ctrl-bottom-right{
  display:none;
}
.mapboxgl-ctrl-bottom-left{
  display:none;
}

/* App.jsx */
.main{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.panels{
  flex: 1;
  overflow: hidden;
}

/* globals */
.stack{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.apart{
  justify-content: space-between;
}
.gap10{
  gap: 10px;
}
._add{
    background-color: var(--add);
}
._remove{
    background-color: var(--remove);
}
._connected{
  background-color: #e8f5e9;
  color: #2e7d32;
}
._new{
  background-color: #e3f2fd;
  color: #1565c0;
}
.attempted{
  background-color: #fff3e0;
  color: #e65100;
}