.filterCont{
    padding: var(--pad);
    background-color: #fff;
    border-radius: var(--rad);
    border: 1px solid var(--text);
}
.title{
    font-size: var(--font-m);
    color: var(--text);
}

/* location input & dropdown */
.location-sel-cont{
    background-color: var(--bg-alt);
    border-radius: var(--rad);
    padding: 5px;
    gap: 5px;
}
.location-sel-input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 4px 6px;
    font-size: var(--font-m);
    color: #000000;
}
.location-sel-input::placeholder{
    color: var(--text-h);
    opacity: 0.5;
}
.location-dropdown{
    display: none;
    border-radius: 8px;
    overflow: hidden;
}
.location-dropdown.visible{
    display: flex;
}
.dropdown-option{
    padding: var(--pad);
    font-size: var(--font-m);
    color: #161616;
    background-color: #a3a3a3;
    cursor: pointer;
}
.dropdown-option:not(:last-child){
    border-bottom: 1px solid #b8b8b8;
}
.dropdown-option:active{
    background-color: #b8b8b8;
}
.dropdown-abbr{
    color: var(--text);
    font-size: var(--font-s);
    margin-left: 4px;
}
/* location bubbles */
.selected-locos{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.loco{
    background-color: var(--orange);
    color: white;
    padding: 5px 10px;
    border-radius: var(--rad);
    font-size: var(--font-s);
}

/* lead status options */
.grid-sel-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.grid-item{
    justify-content: center;
    text-align: center;
    border: var(--border);
    border-radius: var(--rad);
    padding: 15px 0;
    font-size: var(--font-l);
    color: var(--text);
    cursor: pointer;
}
.grid-item:active{
    transform: translateY(2px);
}
.grid-item.selected{
    border-color: var(--orange);
    color: var(--orange);
}

/* owner toggle */
.toggle{
    display: flex;
    align-self: flex-start;
    background-color: var(--bg-alt);
    border-radius: var(--rad);
    overflow: hidden;
}
.toggleOption{
    padding: 5px 10px;
    font-size: var(--font-s);
    color: var(--text);
    cursor: pointer;
    user-select: none;
}
.toggleOption.toggleActive{
    background-color: var(--orange);
    color: white;
    font-weight: bold;
}

.btnRow{
    flex: 1;
}
.backToFiltersBtn{
    background-color: var(--bg-alt);
    color: var(--text-h)
}
.applyFiltersBtn{
    flex: 1;
}

.filteredListCont{
    overflow-Y: auto;
}
.addAll{
    color: var(--add);
    text-decoration: underline;
}
.fcTitle{
    padding: 10px 0;
    font-size: var(--font-l);
    color: var(--text-rg);
}
